<!DOCTYPE html>
<header class="header">
<div class="container">
<div class="header-container">
<div class="header-logo">
<svg class="header-logo-panel">
<use href="../img/sprite.svg#icon-panel"></use>
</svg>
<svg class="header-logo-text">
<use class="mob-logo" href="../img/sprite.svg#icon-green-harvest-mob"></use>
<use class="desk-logo" href="../img/sprite.svg#icon-green-harvest-desk"></use>
</svg>
</div>

<div class="header-button-group">
<a href="" class="mobile-btn-close" >
<svg width="" height="" class="close-svg">
<use href="../img/sprite.svg#icon-close"></use>
</svg>
</a>
<div class="header-nav-group">
<a class="header-nav-buttons" href="#">How It Works</a>
<a class="header-nav-buttons" href="#">Vegetables</a>
<a class="header-nav-buttons" href="#">Reviews</a>
</div>
<a class="header-primary-button" href="#">Shop Now</a>
</div>

<a href="" id="menu" class="mobile-btn" tabindex="0">
<svg width="" height="" class="mobile-btn-svg">
<use href="../img/sprite.svg#icon-hamburger"></use>
</svg>
</a>

</div>
</div>
</header>