<!DOCTYPE html>
 <header class="header">
  <div class="container">
      <div class="header-container">
        <div class="header-logo">
    <svg class="header-logo-icon">
                        <use href="../img/sprite.svg#greenharvest-logo-desktop"></use>
                    </svg>
</div>
       
        <div class="button-group">
          <a href="" class="mobile-btn-close" >
            <svg width="" height="" class="close-svg">
              <use href="../img/sprite.svg#icon-close"></use>
            </svg>
          </a>
            <div class="nav-group">
            <a class="nav-buttons" href="#">How It Works</a>
            <a class="nav-buttons" href="#">Vegetables</a>
            <a class="nav-buttons" href="#">Reviews</a>
            </div>
            <a class="primary-button" href="#">Shop Now</a>
        </div>
        <a href="" id="menu" class="mobile-btn" tabindex="0">
          <svg width="" height="" class="mobile-btn-svg">
            <use href="../img/sprite.svg#icon-hamburger"></use>
          </svg>
        </a>
      </div>
    </div>
</header>