<div class="mobile-menu-wrapper">

  <svg class="close-icon" width="32" height="32">
    <use href="./img/sprite.svg#icon-close"></use>
  </svg>

  <div class="mobile-menu-nav">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item active">
        <a href="#" class="mobile-menu-link">How It Works</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#" class="mobile-menu-link">Vegetables</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#" class="mobile-menu-link">Reviews</a>
      </li>
    </ul>
  </div>

  <button type="button" class="menu-shop-button">SHOP NOW</button>

</div>

