<section class="your-order-section">
  <div class="container your-order-container">
    <h2 class="your-order-title">
      FRESH <span>HARVEST</span> BOX <br class="mobile-br" />
      HAS GOT YOU COVERED
    </h2>
    <p class="your-order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="your-order-content">
      <div class="order-form-card">
        <h3 class="form-title">
          ORDERING&nbsp;<span class="accent-brand">FROM&nbsp;US</span>&nbsp;IS
          QUICK&nbsp;AND&nbsp;EASY!&nbsp;FILL OUT&nbsp;<span
            class="accent-green"
            >THE&nbsp;FORM</span
          >&nbsp;BELOW AND&nbsp;WE&nbsp;WILL CONTACT&nbsp;YOU&nbsp;!
        </h3>
        <form class="order-form">
          <input
            type="text"
            name="user-name"
            placeholder="Full Name"
            required
          />
          <input
            type="email"
            name="user-email"
            placeholder="Email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            class="email-input"
          />
          <textarea name="user-comment" placeholder="Comment"></textarea>
          <button type="submit" class="order-send-btn">SEND</button>
        </form>
      </div>
      <div class="order-image-card">
        <div class="image-card">
          <picture>
            <source
              srcset="
                ./img/webp/make-lemon-smoothie-mob.webp 1x,
                ./img/webp/make-lemon-smoothie@2x.webp  2x
              "
              type="image/webp"
            />
            <img src="./img/your-order-photo.jpg" alt="Preparing juice" />
          </picture>
        </div>
        <p class="social-text">Follow us on our social networks:</p>
        <ul class="order-social-links">
          <li>
            <a href="https://www.instagram.com/goit.turkiye/">INSTAGRAM</a>
          </li>
          <li class="separator">/</li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-Türkiye/61558036560161/"
              >FACEBOOK</a
            >
          </li>
          <li class="separator">/</li>
          <li>
            <a href="https://m.youtube.com/@GoITTurkey" target="_blank"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
