.advert-section {
  background-color: var(--white);
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.72px;
}

.discount-badge {
  background-color: #576f35;
  color: #fbfbfb;
  border-radius: 12px;
}
.main-text {
  color: #141414;
}

@media (min-width: 768px) {
  .advert-section {
    padding: 100px 32px;
    align-items: flex-start;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.72px;
  }

  .discount-badge {
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  .advert-section {
    font-size: 76px;
    padding: 100px;
    line-height: 76px;
    letter-spacing: -0.72px;
  }

  .discount-badge {
    padding-top: 4px;
    padding-left: 16px;
 
  }



}
