.advert-section {
  background-color: var(--white);
  padding: 80px 20px;
}

.promo-badge {
  background-color: var(--primary-color);
  color: #fbfbfb;
  border-radius: 12px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  
}

.discount-text {
  font-weight: 600;
  font-size: 48px;
  color: #141414;
  line-height: 1.1;
}

@media (min-width: 768px) {


  .promo-badge {
    padding-top: 20px;
    font-size: 64px;
  }

  .discount-text {
    font-size: 64px;
  }
}

@media (min-width: 1200px) {
  

  .promo-badge {
    padding-top: 0;
    width: fit-content;
    font-size: 76px;
  }
    .discount-text {
      font-size: 76px;
    }

}
