:root {
  /* Figma Renkler */
  --primary-color: #576f35;
  --white: #fbfbfb;
  --black: #2e2e2e;
  --red: #7a3145;
  --pink: #d4bfc4;
  --font-main: 'Inter', sans-serif;

  -transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black);
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
