*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Ana Marka Renkler */
  --primary-color: #576f35; /* Green Background */
  --primary-brand: #7a3145; /* Chianti (Butonlar ve Numaralar) */
  --accent-color: #d4bfc4; /* Blush (Hover ve Aksan) */

  /* Temel Renkler */
  --white: #fbfbfb; /* White Text */
  --black: #141414; /* Black Text */
  --details-grey: #858585; /* Grey (Detaylar ve Input Yazıları) */
  --transparent-black: rgba(20, 20, 20, 0.4); /* Overlay için */

  /* Input ve Bildirim Durumları */
  --success-state: #3cbc81; /* Greenlight (Başarılı Giriş) */
  --error-state: #e74a3b; /* Smthwrong (Hatalı Giriş) */

  --font-main: 'Inter Tight', sans-serif;
  -transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
