*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Ana Marka Renkler */
  --primary-color: #576f35; /* Green Background */
  --primary-brand: #7a3145; /* Chianti (Butonlar ve Numaralar) */
  --accent-color: #d4bfc4; /* Blush (Hover ve Aksan) */

  /* Temel Renkler */
  --white: #fbfbfb; /* White Text */
  --black: #141414; /* Black Text */
  --details-grey: #858585; /* Grey (Detaylar ve Input Yazıları) */
  --transparent-black: rgba(20, 20, 20, 0.4); /* Overlay için */

  /* Input ve Bildirim Durumları */
  --success-state: #3cbc81; /* Greenlight (Başarılı Giriş) */
  --error-state: #e74a3b; /* Smthwrong (Hatalı Giriş) */

  --font-main: 'Inter Tight', sans-serif;
  -transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Geçiş Efektleri */
}
