/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Styles for Tablet devices */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
