.header {
  position: absolute; 
  width: 100%;
  background-color: green; 
  padding: 32px 0; 
}
.header-container{
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-button-group  {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-logo {
display: flex;
align-items: center;
gap: 8px; /* İkon ve yazı arası mesafe */
margin-bottom: 14px;
}

.header-logo-panel {
width: 20px;
height: 20px;
flex-shrink: 0; /* Asla küçülme kanka */
fill: var(--white);
}

.header-logo-text {
width: 146px;
height: 12px;
fill: var(--white);
}

.desk-logo {
display: none;
}
.mob-logo {
display: block;
}

.header-button-group a{
  text-decoration: none;
}

.header-nav-buttons  {
  color: #fbfbfb;
  font-size: 16px; 
  font-weight: 500;
  padding: 12px; 
  border: 1px solid #fbfbfb; 
  border-radius: 10px;
  transition: background-color 0.3s ease; 
  line-height: 20px;
}
.header-nav-buttons:hover{
  color: #7A3145;
  background-color: #D4BFC4;
}
.header-nav-buttons:focus{
  color: #7A3145;
  background-color: #FBFBFB;
}
.header-primary-button {
 color: #fbfbfb;
 background-color: #7a3145;
 font-size: 20px; 
 font-weight: 500; 
 padding: 16px 32px;
 border-radius: 50px ;
 transition: background-color 0.3s ease;
 margin-left: 50px;
}
.header-primary-button:hover{
  color: #7A3145;
  background-color: #D4BFC4;
}
.header-primary-button:focus{
  color: #7A3145;
  background-color: #FBFBFB;
}
.mobile-btn , .mobile-btn-close{
  display: none;
}

@media (max-width: 1200px){
  .header-nav-buttons:hover{
    background-color: #FBFBFB;
    color: #7A3145;
  }
  
  .header-primary-button:hover{
    background-color: #FBFBFB;
    color: #7A3145;
  }
  .header{
    padding: 32px;
  }
  .header-container{
    padding: 0px;
  }
  .header-button-group{
    position: fixed;
    width: 351px;
    height: 100%;
    top: 0;
    right: 0;
    background: #576F35;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 48px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: none;
    box-shadow: -500px -2px 500px 500px rgba(0,0,0,0.77);
  }

  .header-nav-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mobile-btn{
    display: block;
  }
  .mobile-btn-close{
    display: block;
    align-self: flex-end;
  }
  .close-svg , .mobile-btn-svg{
    fill: #FBFBFB;
    width: 40px;
    height: 40px;
  }
  .header-primary-button{
    margin-left: 0;
  }
}
@media (max-width: 768px){
  .close-svg , .mobile-btn-svg{
    fill: #FBFBFB;
    width: 32px;
    height: 32px;
  }
  .header{
    padding:20px;
  }
  .header-container{
    padding: 0px;
  }
  .header-button-group{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #576F35;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 48px;
    display: none;
  }
  .header-nav-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .header-nav-buttons:hover{
    background-color: #FBFBFB;
    color: #7A3145;

  }
  .mobile-btn{
    display: block;
  }
  .mobile-btn-close{
    display: block;
    align-self: flex-end;
  }
  .close-svg{
    fill: #FBFBFB;
    width: 20px;
    height: 20px;
  }
  .header-primary-button{
    margin-left: 0;
  }
  .mobile-btn-close:focus + .button-group{
    display: none;
  }

  .mob-logo {
display: none;
}
.desk-logo {
display: block;
}
.header-logo-text {
width: 187px; /* Tablette genişlemesi için bu şart */
height: 17px;
}

 
}
@media (max-width: 374px) {
  .close-svg , .mobile-btn-svg{
    fill: #FBFBFB;
    width: 32px;
    height: 32px;
  }
  .header{
    padding:20px;
  }
  .header-container{
    padding: 0px;
  }
  .header-button-group{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #576F35;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 48px;
    display: none;
  }
  .header-nav-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .header-nav-buttons:hover{
    background-color: #FBFBFB;
    color: #7A3145;

  }
  .mobile-btn{
    display: block;
  }
  .mobile-btn-close{
    display: block;
    align-self: flex-end;
  }
  .close-svg{
    fill: #FBFBFB;
    width: 20px;
    height: 20px;
  }
  .header-primary-button{
    margin-left: 0;
  }
  .mobile-btn-close:focus + .header-button-group{
    display: none;
  }

}