M I S T I K 15:22

/* Hero Section */
.hero {
    min-width: 375px;
    height: 840px;
    background-color: var(--primary-color);
    display: flex;
}

.hero-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero-title {
    min-width: 335px;
    height: 208px;
    margin-left: 20px;
    color: var(--white);
    font-family: var(--font-main);
    font-size: 52px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.015em;
}

.hero p {
    min-width: 335px;
    height: 100px;
    margin: 20px;
    color: var(--white);
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
}

.hero-image img {
    margin-top: auto;
}

/* Hero Steps Section */
.hero-steps {
    min-width: 375px;
    height: 532px;
    background-color: var(--red);
    display: flex;
}

.hero-steps-grid {
    max-width: 100%;
}

.hero-steps-image img {
    max-width: 335px;
    height: auto;
    display: block;
    margin: 40px 20px;
}

.hero-steps-content {
    min-width: 375px;
    height: 676px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.hero-title2 {
    max-width: 335px;
    height: 112px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: var(--white);
    font-family: var(--font-main);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: -0.015em;
}

/* Değişken ve Yardımcı Classlar */
.hero-vegetable-text-color {
    color: var(--pink);
}

.hero-steps-content p {
    max-width: 335px;
    height: 60px;
    margin-bottom: 40px;
    color: var(--white);
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.hero-steps-list {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.hero-step-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 84px;
    background-color: var(--white);
    border-radius: 15px;
}

.hero-step-number {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--red);
    font-size: 18px;
    color: var(--white);
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.hero-steps-item {
    max-width: 208px;
    color: #858585;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 29px;
}

.hero-bold {
    color: var(--black);
    font-weight: 700;
}