
/* ========== HERO ========== */
.hero {
    background-color: var(--primary-color);
    padding: 80px 0;
}

.hero-container {
    padding-top: 100px;
}

.hero-content {
    margin-bottom: 40px;
}

.hero-title {
    min-width: 335px;
    color: var(--white);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.hero-title .line {
    display: block;
}

.hero-text {
    min-width: 335px;
    color: var(--white);
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.4;
    padding-top: 20px;
}

.hero-image {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
}

.hero-image img {
    content: url("../img/webp/hero-basket.webp");
}

/* ========== HERO STEPS ========== */
.hero-steps-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero-steps {
    background-color: var(--primary-brand);
    padding-top: 40px;
    min-height: 532px;
}

.hero-steps-image {
    width: 335px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.hero-steps-image img {
    height: auto;
    width: 100%;
    border-radius: 30px;
}

.hero-steps-content {
    min-width: 375px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-steps-title {
    align-items: center;
    justify-content: center;
    max-width: 335px;
    margin-top: 80px;
    color: var(--white);
    font-size: 24px;
}

.hero-steps-text {
    color: var(--white);
    font-size: 14px;
    line-height: 1.4;
    margin: 20px 0 40px 0;
    width: 335px;
}

.hero-steps-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}

.hero-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 335px;
    height: 84px;
    border-radius: 15px;
    background-color: var(--white);
}

.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1em;
    letter-spacing: -0.015em;
    background-color: var(--primary-brand);
    width: 42px;
    height: 42px;
    border: 5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 24px;
}

.hero-step p {
    min-width: 208px;
    max-height: 60px;
    color: var(--details-grey);
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
}

.hero-step .word {
    color: var(--black);
}

.hero-bold {
    color: var(--black);
    font-weight: 700;
}

.hero-color {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .hero-steps {
        margin-top: 0;
        padding-top: 0;
    }

    .hero-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        outline: 1px solid rgb(255, 251, 10);
    }

    .hero-content {
        margin-bottom: 52px;
        align-items: center;
        width: 704px;
        max-height: 312;
    }

    .hero-image {
        width: 768px;
        height: 536px;
        margin-bottom: 0;
        line-height: 0;
        display: block;
        overflow: hidden;

    }

    .hero-image img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        content: url("../img/webp/hero-basket-tab@2x.webp");
    }

    .hero-title {
        padding-bottom: 24px;
        font-size: 76px;
        max-width: 704px;
    }

    .hero-text {
        max-width: 603px;
        font-size: 16px;
    }




    .hero-steps-image {
        width: 100%;
        height: 840px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 1px solid rgb(0, 255, 170);
    }

    .hero-steps-image img {
        content: url("../img/webp/kitchen-woman-tab@2x.webp");
        max-width: 640px;
        max-height: 640px;
        border-radius: 35px;
        align-items: center;
    }

    .hero-steps-content {
        justify-self: center;
    }

    .hero-step {
        width: 440px;
        height: 76px;
        justify-content: flex-start;
    }

    .hero-steps-title {
        font-size: 32px;
        max-width: 440px;
    }

    .hero-steps-text {
        font-size: 16px;
        width: 440px;
    }

    .hero-steps-list {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 440px;
        gap: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        line-height: 0;
        display: block;
    }

    .hero-container {
        height: 796px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
        outline: 2px solid rgb(255, 247, 0);
    }

    .hero-content {
        width: 504px;
        height: 564px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
    }

    .hero-title {
        font-size: 76px;
        max-width: 502px;
        line-height: 1;

    }

    .hero-text {
        min-width: 472px;
        margin-bottom: 52px;
    }

    .hero-image {
        width: 640px;
        height: 796px;
    }

    .hero-image img {
        content: url("../img/webp/hero-basket@2x.webp");
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    .hero-steps {
        height: 760px;
        padding-top: 0;
        outline: 3px solid rgb(255, 18, 42);
    }

    .hero-steps-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        gap: 100px;
        height: 100%;
    }

    .hero-steps-image {
        width: 640px;
        height: 760px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-steps-image img {
        content: url("../img/webp/kitchen-woman@2x.webp");
        width: 440px;
        height: 560px;
        border-radius: 40px;
        object-fit: cover;
        outline: 2px solid rgb(249, 203, 19);
    }

    .hero-steps-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 640px;
        height: 760px;
        padding: 0;
        margin: 0;
        outline: 2px solid rgb(200, 249, 19);
    }

    .hero-steps-title,
    .hero-steps-text,
    .hero-steps-list {
        width: 440px;
    }

    .hero-step p {
        min-width: 325px;
        max-height: 40px;
        font-size: 16px;
        font-weight: 700;
    }
}