.hero-section {
  background-color: var(--primary-color);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 128px;
  margin: 232px 36px 0 0;
  width: 504px;
  height: 564px;
}

.hero-title {
  font-size: 76px;
  line-height: 76px;
  font-weight: 600px;
  letter-spacing: -0.015em;
}

.hero-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500px;
  margin-right: 32px;
}

.hero-text span {
  display: block;
}

.hero-basket-image {
  background-image: linear-gradient(rgba(20, 20, 20))
    url('../img/webp/hero-basket.webp');
  background-image: -webkit-image-set(
    url('../img/webp/hero-basket.webp') 1x,
    url('../img/webp/hero-basket@2x.webp') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -100px;
  width: 640px;
  height: 796px;
}

.hero-steps-image {
  background-color: var(--primary-brand);
}
/* Devam edicek */
