.hero-section {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--white);
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: left;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.hero-bg-image {
}

.hero-steps {
  padding: 40px 20px;
  gap: 20px;
  background-color: var(--primary-brand);
}

.hero-steps-image {
}

.hero-steps-image img {
  border-radius: 30px;
}

.hero-steps-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-steps-section {
  width: 375px;
  height: 676px;
  padding: 80px 0;
  gap: 40px;
  background-color: var(--primary-color);
}

.hero-steps-content {
  width: 335px;
  height: 192px;
  gap: 20px;
}

.hero-steps-title {
  align-items: left;
  color: var(--white);
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 20px;
}

.hero-steps-text {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.hero-color {
  color: var(--accent-color);
}

.hero-steps-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 335px;
  height: 84px;
  border-radius: 15px;
  background-color: var(--white);
}

.hero-step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--primary-brand);
  width: 52px;
  height: 52px;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 24px;
}

.hero-list-text {
  color: var(--details-grey);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.hero-span-word {
  color: var(--black);
  font-weight: 700;
}

@media (min-width: 768px) {
  .hero-section {
    padding-top: 120px;
  }
  .hero-content {
    gap: 24px;
    margin-bottom: 52px;
  }

  .hero-title {
    font-size: 76px;
    line-height: 76px;
    max-width: 100%;
  }

  .hero-text {
    font-size: 16px;
    max-width: 603px;
  }

  .hero-steps {
    padding: 100px 64px;
  }

  .hero-steps-list-wrapper {
    padding: 100px 164px;
  }

  .hero-steps-list {
    padding-top: 40px;
    gap: 20px;
  }
}
