.hero-section {
  background-color: var(--primary-color);
  padding-top: 100px;
  color: var(--white);
}

.hero-content {


}

.hero-text-wrapper {
 margin-bottom: 40px;
}

.hero-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
 margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.hero-bg-image {
  background-image: url("../img/webp/hero-basket-mob.webp");
    background-image: -webkit-image-set(url("../img/webp/hero-basket-mob.webp") 1x,
        url("../img/webp/hero-basket-mob@2x.webp") 2x);
      width: 335px;
      height: 328px;
      background-size: cover;
      background-position: center;  

      width: calc(100% + 40px);
        /* 20px sol + 20px sağ padding'i geri kazanır */
        margin-left: -20px;
        /* Görseli 20px sola çeker */
        margin-right: -20px;
        /* Görseli 20px sağa çeker */
   
     
      
      }



.hero-steps {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--primary-brand);
}

.hero-steps-image {
}

.hero-steps-image img {
  border-radius: 30px;
}

.hero-steps-section {
background-color: var(--primary-color);
}

.hero-steps-section {


}
 .hero-steps-content-wrapper {
padding: 80px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
    
 }


.hero-steps-title {
  align-items: left;
  color: var(--white);
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 20px;
}


.hero-steps-text {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.hero-color {
  color: var(--accent-color);
}

.hero-steps-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 12px 27px 12px 24px;
  border-radius: 15px;
  background-color: var(--white);
}

.hero-step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--primary-brand);
  width: 52px;
  height: 52px;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  
}

.hero-list-text {
  color: var(--details-grey);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.hero-span-word {
  color: var(--black);
  font-weight: 700;
}

@media (min-width: 768px) {

.hero-bg-image {
  background-image: url("../img/webp/hero-basket-tab.webp");
  background-image: -webkit-image-set(url("../img/webp/hero-basket-tab.webp") 1x,
      url("../img/webp/hero-basket-tab@2x.webp") 2x);

background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Sabit genişliği (764px) kaldırıyoruz çünkü tam oturmasını istiyoruz */
  

  /* Container padding'i 20px ise tam sıfırlamak için -20px olmalı */


  /* Yüksekliği ihtiyacına göre koruyabilirsin */
  
    /* 20px sol + 20px sağ padding'i geri kazanır */          
display: block;
max-width: none;



}
  .hero-title {
    font-size: 76px;
    line-height: 76px;
    max-width: 100%;
  }

  .hero-text {
    font-size: 16px;
    max-width: 603px;
  }

  .hero-steps {
    padding: 100px 32px;
  }

 .hero-steps-section {

padding: 0;
 }

  .hero-steps-content-wrapper {
padding: 100px 164px;
  }

  @media (min-width: 1200px) {
    .hero-content {
padding: 0;
display: flex;



    }

    .hero-section {
      padding: 0;
    }

    .hero-text-wrapper {
    flex: 1 1 50%;
    padding: 232px 36px 52px 100px;
    margin: 0;
    }
  }

.hero-bg-image {
  background-image: url("../img/webp/hero-basket-.webp");
  background-image: -webkit-image-set(url("../img/webp/hero-basket-tab.webp") 1x,
      url("../img/webp/hero-basket-tab@2x.webp") 2x);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Sabit genişliği (764px) kaldırıyoruz çünkü tam oturmasını istiyoruz */


  /* Container padding'i 20px ise tam sıfırlamak için -20px olmalı */


  /* Yüksekliği ihtiyacına göre koruyabilirsin */

  /* 20px sol + 20px sağ padding'i geri kazanır */
  display: block;
  width: 640px;
  height: 796px;



}

.hero-steps-section {
 
  display: flex;
  
}

.hero-steps {

  padding: 100px 100px;

}

.hero-steps-image {
  padding: 0;
flex: 1 1 50%;
}

.hero-steps-content-wrapper {

padding: 100px 100px;

}

}