.mobile-menu-wrapper {
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    display: none;
}

.close-icon {
    color: var(--white);
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-nav {
    margin: 296px 114px 232px;
}

.mobile-menu-item {
    padding: 12px 18px;
    border: 1px solid var(--white);
    border-radius: 12px;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    white-space: nowrap;
}

.mobile-menu-item:hover {
    background-color: var(--white);
    color: var(--primary-brand);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-shop-button {
    padding: 16px 41px;
    background-color: var(--primary-brand);
    border-radius: 30px;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 48px;
}

.menu-shop-button:hover {
    background-color: var(--white);
    color: var(--primary-brand);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    background-color: var(--white);
    color: var(--primary-brand);
}

@media (min-width: 768px) {
    .mobile-menu-wrapper {
        width: 350px;
        left: auto;
        right: 0;
    }
}