body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main); /* 'Inter Tight' */
  color: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
