.reviews {
  padding: 80px 20px;
  background-color: var(--white);
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: var(--black);
}

.reviews-header {
  margin-bottom: 40px;
}

.reviews-header-title {
  max-width: 553px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
}

.title-customers {
  color: var(--primary-color);
}

.reviews-header p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--black);
}

.reviews-list {
  display: flex;
  gap: 24px;
}

.review-card {
  padding: 20px 16px;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  text-align: center;
  background-color: var(--white);
}

.review-card picture {
  display: inline-block;
  margin-bottom: 24px;
}

.review-card img {
  border-radius: 50%;
  display: block;
}

.review-card h3 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.review-card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  color: var(--details-grey);
}

.tablet-for-none,
.desktop-for-none {
  display: none;
}

@media (min-width: 768px) {
  .title-first-line {
    display: block;
    white-space: nowrap;
  }

  .title-second-line {
    display: block;
  }

  .reviews {
    padding: 100px 32px;
  }
.reviews-header {
    margin-bottom: 52px;
}
  .tablet-for-none {
    display: none;
  }

  .desktop-for-none {
    display: initial;
  }
  .reviews-header h2 {
    margin-bottom: 24px;
  }
  .reviews-header p {
     max-width: 553px;
  }
}


@media (min-width: 1280px) {

.reviews {
padding: 100px;

}

.tablet-for-none, .desktop-for-none {

display: initial;

}

}